#parelsuitderegio {
	z-index: 100;
	margin-bottom: 7rem;
}

.singlepearl {
    margin: 2rem 0 0 0;
	padding: 1.5rem 0 0 0;
	background: #daeaea;
	.pearlinfo {
		margin-top: 1rem;
	}
	.backicon__container {
		margin: 0;
	}

	.icons {
		height: 32px;
		padding: 0;
		background: rgba(0,0,0,0.05);
		// background: #f3f3f3;
		border-top: 1px solid #cecece;
	}
}

.row--social {
    margin: 0 0 2rem 0;
    padding: 0;
    background: url(/img/parelfooter.png);
    background-size: 100% 32px;
    background-repeat: no-repeat;
	// background: #CFDEDE;
    border-top: 1px solid #cecece;
}

.linkrow {
    margin: 3rem 0 0 !important;
}

ul.meerinfo {
	display: inline-block;
	background: #677CB3;
	color: white;
	margin: 0 1px;
	width: 20rem;
	text-align: center;
	z-index: 1;
	a {    
		display: inline-block;
		line-height: 31px;
		width: 20rem;
		// padding: 6px 0;
		color: white;
	}
	li {
		// display: none;
		height: 0;
		background: #9AA8CA;
		z-index: 1;
		transition: all .5s;
		overflow: hidden;
	}
	li:hover {
		background: #8999bf;
	}
}

ul.meerinfo:hover li {
	// display: block;
	height: auto;
}